<div class="header">
    <div class="header_logo"><app-svg [name]="'logoBlack'"></app-svg></div>
    <div class="header_buttons">
        <app-button [type]="'text'" routerLink="/login" [text]="'Войти'"></app-button>
        <app-button routerLink="/registration" [type]="'primary'" [text]="'Зарегистрироваться'"></app-button>
    </div>
</div>
<div class="landing">
    <div class="landing_main">Автор еще не<br>придумал слоган</div>
    <div class="landing_secondary">qosymsha помогает стуентам общаться, создавать<br>партнерские отношения и становиться лучше</div>
    <div class="landing_buttons">
        <app-button [type]="'primary'" routerLink="/registration" [text]="'Попробовать'"></app-button>
        <app-button [type]="'text'" [text]="'Как это работает?'"></app-button>
    </div>
</div>
<router-outlet></router-outlet>