<div *ngIf="currentUrl != ''">
<div class="header">
    <div class="header_logo">
        <app-svg [name]="'logo'"></app-svg>
    </div>
    <div class="header_serach">
        <app-search></app-search>
    </div>
    <div class="header_buttons">
        <div class="header_buttons__item">
            <span class="material-icons">
                notifications_none
            </span>
        </div>
        <div class="header_buttons__item">
            <span class="material-icons">
                help_outline
            </span>
        </div>
        <div class="header_buttons__item">
            <app-personal-button></app-personal-button>
        </div>
    </div>
</div>
</div>