.text_title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 7px;
    padding-bottom: 1rem;
}
.text_title__counter {
    font-weight: 700;
    font-size: 18px;
}
.text_title__content {
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
}
/* /////////////////////////////////// */

.text_small-blue {
    font-size: 12px;
    color: #0700FF;
}

/* ////////////////////////////////////// */
.text_small-secondary {
    font-size: 12px;
    color: #636363;
}
/* /////////////////////////////////////// */
.text_bold {
    font-size: 16px;
    font-weight: 700;
}
/* /////////////////////////////////////// */
.text_auth-title {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}