.card {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    /* align-items: center; */
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.05); */
}
.card .card_text {
    color: #414141;
}
.card:not(.not-selected):hover .card_text {
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
    transition: 0.1s;
    color: #000;
}
.card_img {
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    width: 260px;
}
.card_img img {
    max-width: 100%;
    margin-top: -30px;
}
.card_text {
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto auto;
    align-self: flex-start;
    padding-top: 1rem;
    height: calc(100px - 1rem);
}
.card_text__see-more {
    position: absolute;
    bottom: 1rem;
}
.card_text__city {
    position: absolute;
    bottom: 2rem;
}
.card_status {
    position: absolute;
    top: calc(1rem - 2px);
    right: 0.5rem;
    color: #04A039;
    transition: 0.2s;
}
.not-selected {
    opacity: 0.5;
    transition: 0.2s;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}