* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.primary-button {
    height: 40px;
    font-weight: bold;
    color: #fff;
    background: #0700FF;
    display: grid;
    align-items: center;
    padding: 0 2rem;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s;
}
.primary-button:hover {
    background: #0700CC;
    transition: 0.1s;
}
.primary-button:active {
    background: #040080;
}
.text-button {
    height: 40px;
    font-weight: bold;
    color: #0700FF;
    background: transparent;
    border-radius: 5px;
    display: grid;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    transition: 0.1s;
    font-size: 14px;
    border: 1px solid rgba(8, 0, 255, 0.459);
    box-sizing: border-box;
}
.text-button:hover {
    background: rgba(8, 0, 255, 0.034);
    transition: 0.1s;
}
.text-button:active {
    background: rgba(8, 0, 255, 0.123);
}