<div class="header">
    <div class="header_logo">
        <app-svg routerLink="/landing" [name]="'logo'"></app-svg>
    </div>
</div>
<div class="r">
    <div class="r_content">
        <div class="r_content__title">
            <app-text [type]="'auth-title'" [text]="'Присоединяйтесь'"></app-text>
        </div>
        <div class="r_content__email">
            <input [(ngModel)]="userModel.email" name="email" type="text" (blur)="_emailValidation($event)" placeholder="Адрес электронной почты">
            <!-- <div *ngIf="emailValidation">
                <div class="input_status">
                    <span class="material-icons">
                        check
                    </span>
                </div>
            </div> -->
            <div *ngIf="emailValidation == false">
                <div class="input_status">
                    <span class="material-icons">
                        error_outline
                    </span>
                </div>
            </div>
        </div>
        <div class="r_content__password">
            <input [(ngModel)]="userModel.password" name="password" type="{{mode}}" placeholder="Пароль" (input)="_passwordValidation($event)">
            <div class="see_pass" (click)="seePass()">
                <div *ngIf="mode == 'password'">
                    <app-svg [name]="'openEye'"></app-svg>
                </div>
                <div *ngIf="mode == 'text'">
                    <app-svg [name]="'closeEye'"></app-svg>
                </div>
            </div>
            <div *ngIf="passwordValidation == false">
                <div class="input_status">
                    <span class="material-icons">
                        error_outline
                    </span>
                </div>
            </div>
        </div>
        <div [className]="emailValidation == false ? 'r_content__button disabled' : 'r_content__button'">
            <app-button (click)="onSubmit()" [type]="'primary'" [text]="'Зарегистрироваться'"></app-button>
        </div>
        <div class="r_content__switch">Уже есть аккаунт? <span>Войти</span></div>
        <div class="r_content__bottom">
            <div class="or">или</div>
            <div class="r_content__bottom___item">
                <app-svg [name]="'gmail'"></app-svg>
                Войти с Gmail
            </div>
            <div class="r_content__bottom___item">
                <app-svg [name]="'vk'"></app-svg>
                Войти с ВКонтакте
            </div>
        </div>
    </div>
</div>