.set {
    position: relative;
    top: 8px;
    font-weight: 500;
    display: grid;
    grid-gap: 1rem;
    color: #414141;
}
.set_item {
    cursor: pointer;
}
.set_item:not(.active):hover {
    color: #000;
}
.active {
    color: #0700FF;
}