.search {
    display: grid;
    grid-template-columns: auto 1fr;
    background: #F1F3F4;
    height: 40px;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px;
    width: 70%;
}
.search_icon span{
    display: grid;
    align-items: center;
    color: #828282;
}
input {
    background: #F1F3F4;
    border: none;
    color: #000;
    font-size: 14px;
    padding: 0 1rem;
}
