<div class="ac">
    <div class="ac_left">
        <div class="university">
            <app-text [text]="'Выбрать университет'" [type]="'title'" [counter]="1"></app-text>
            <div class="ac_university-list">
                <div *ngFor="let u of universities">
                    <app-university-card [university]="u" [status]="faculties" (click)="onUniversitySelect(u.name)"></app-university-card>
            </div>
        </div>
        <div class="faculty" *ngIf="faculty">
            <app-text [text]="'Выбрать факультет'" [type]="'title'" [counter]="2"></app-text>
            <div class="ac_faculty-list">
                <div *ngFor="let f of faculties">
                    <app-card [name]="f"></app-card>
                </div>
            </div>
        </div>
    </div>
    <div class="ac_right"></div>
</div>