<div class="add-course">
    <div class="left">
        <div class="add-course_header">
            <div class="add-course_header__uni">
                <span class="material-icons">
                    school
                </span>
                <select name="uni" id="uni">
                    <option value="" class="placeholder" disabled selected>Выбрать университет</option>
                    <option *ngFor="let u of universities" value="{{u.name}}">{{u.name}}</option>
                </select>
            </div>
            <div class="add-course_header__course">
                <input type="text" placeholder="Название предмета">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
    </div>
    <div class="right"></div>
</div>