.add-course {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}
.left {
    display: grid;
}
.add-course_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.add-course_header__course {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background: #F6F6F6;
    border-radius: 5px;
    padding: 0 1rem;
    height: 40px;
    border: 1px solid #DEDEDE;

}
.add-course_header__course span {
    color: #828282;
    width: 24px;
    padding-right: 1rem;
}
input {
    border: none;
    background: #F6F6F6;
    display: grid;
    color: #000;
    font-size: 14px;
    /* padding: 0 1rem; */
    padding: 0;
    border-radius: 5px;
}
.add-course_header__uni {
    display: grid;
    align-items: center;
    /* padding: 0 1rem; */
    position: relative;
}
.add-course_header__uni span {
    color: #828282;
    position: absolute;
    right: 1rem;
}
select {
    font-size: 14px;
    border: none;
    /* padding-left: 1rem; */
    background: #fff;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #DEDEDE;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    font-weight: 500;
    /* color: #828282; */
    /* padding-left: calc(2rem + 24px); */
    padding-left: 1rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    /* width:1000px; */
    font-size: 14px;   
    background: #fff;
    border: 1px solid #DEDEDE;
    height: 40px;
    display: grid;
    align-items: center;
    border-radius: 5px;

    padding: 0 1rem;
    font-weight: 500;
}
::ng-deep .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-form-field-infix {
    position: 0;
    border-top: 0;
    padding: 0;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
}
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
    /* display: none; */
    color: transparent;
    /* color: transparent; */
    /* opacity: 0; */
    display: none;
    transform: none;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0700FF;
    font-weight: 500;
}
::ng-deep .mat-option {
    font-weight: 500;
    background: #fff;
}
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #f0f0f0;
}
::ng-deep .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: #f7f7f7;
}
::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0px 10px 50px rgba(0,0,0,0.1);
}
.add-course_list {
    display: grid;
    margin-top: 0.1rem;
    /* grid-gap: 1rem; */
}
.add-course_list__title {
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 500;
}
.list {
    margin-top: 2rem;
}


.right {
    display: grid;
    border-left: 1px solid #e1e1e1;
    position: fixed;
    right: 0;
    top: 52px;
    height: calc(100vh - 52px);
}
.right_inner {
    background: blue;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
}