<div class="add-course">
    <div class="left">
        <div class="add-course_header">
            <div class="add-course_header__uni">
                <span class="material-icons">
                    school
                </span>
                <mat-form-field>
                    <mat-label>Выбрать университет</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let u of universities" value="{{u.name}}">{{u.name}}</mat-option>
                        <!-- <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                      <mat-option value="option3">Option 3</mat-option> -->
                    </mat-select>
                </mat-form-field>
                <!-- <select name="uni" id="uni">
                    <option value="" class="placeholder" disabled selected>Выбрать университет</option>
                    <option *ngFor="let u of universities" value="{{u.name}}">{{u.name}}</option>
                </select> -->
            </div>
            <div class="add-course_header__course">
                <app-autocomplete></app-autocomplete>
                <!-- <input type="text" placeholder="Название предмета"> -->
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <div class="list">
            <div *ngIf="tutors.length == 1">
                <div class="add-course_list__title">{{tutors.length}} умник по вашему запросу</div>
            </div>
            <div *ngIf="tutors.length > 1 && tutors.length < 5">
                <div class="add-course_list__title">{{tutors.length}} умника по вашему запросу</div>
            </div>
            <div *ngIf="tutors.length >= 5">
                <div class="add-course_list__title">{{tutors.length}} умников по вашему запросу</div>
            </div>
            <div class="add-course_list">
                <div *ngFor="let t of tutors">
                    <app-tutor-card [tutor]="t"></app-tutor-card>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <app-mini-chat></app-mini-chat>
    </div>
</div>