body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #F9F9F9;
}
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
:focus {
    outline: none;
}